.btn-ok{
  float: right;
  margin-left: 4px;
  font-weight: bold;
}
.btn-save{
  float: right;
  margin-left: 4px;
  font-weight: bold;
}
.btn-delete{
  float: right;
  margin-left: 4px;
  font-weight: bold;
}
